node_modules
runner-results
.vscode
multi-reporter-config.json
mochawesome-report
public/build
**/downloads/*
!**/downloads/.keep
**/reports/*
!**/reports/.keep
**/secret/*
!**/secret/.keep
**/screenshots/*
!**/screenshots/.keep
**/videos/*
!**/videos/.keep
.env
.env.*
parallel-weights.json